<!DOCTYPE html>
<html>
<head>
    <title>Send Data</title>
</head>
<body>
    <form id="dataForm">
        <label for="ticketType">Ticket Type:</label><br>
        <select id="ticketType" name="ticketType">
            <option value="1">Type 1</option>
            <option value="2">Type 2</option>
        </select><br>
        <label for="isChecked">Is Checked:</label><br>
        <input type="radio" id="isCheckedYes" name="isChecked" value="true">
        <label for="isCheckedYes">Yes</label><br>
        <input type="radio" id="isCheckedNo" name="isChecked" value="false">
        <label for="isCheckedNo">No</label><br>
        <button type="submit">Send Data</button>
    </form>
    <script src="demo.js"></script>
</body>
</html>
