<!DOCTYPE html>
<html>
<head>
    <title>Check In</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="message"></div>
    <!--Online ticket new comers display-->
    <div id="form1" class="form" style="display: none;">
      <p class="message">እንኳን ደኅና መጡ!</p>
      <p class="input">Full Name: <span id="fullName"></span></p>
      <p class="input">Email: <span id="email"></span></p>
      <p class="input">Phone: <span id="phone"></span></p>
      <button class="button" type="submit" data-text="Awesome">
        <span class="actual-text">&nbsp;Check-In&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;Check-In&nbsp;</span>
      </button>
    </div>
    <!--Manual ticket new comers display-->   
    <form id="form2" class="form" style="display:none;" accept-charset="UTF-8">
      <p class="message">መረጃዎቹን በጥንቃቄ ይሙል!</p>
      <div class="flex">
        <label>
          <input id="first_name" class="input" style=" width: 90%" type="text" name="first_name" placeholder="" required="">
          <span>ስም</span>
        </label>
  
        <label>
          <input class="input" style=" width: 90%" type="text" name="last_name" placeholder="" required="">
          <span>የአባት ስም</span>
        </label>
      </div>  
  
      <label>
        <input id="phone" class="input" type="text" name="phone" placeholder="" required="">
        <span>ስልክ ቁጥር</span>
      </label>
  
      <label>
        <input id="email" class="input" type="text" name="email" placeholder="" required="">
        <span>ኢሜል</span>
      </label> 
      
   <button class="button" type="submit" data-text="Awesome">
        <span class="actual-text">&nbsp;Check-In&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;Check-In&nbsp;</span>
      </button>
    </form>
    <!--All tickets already comes guests-->
    <div id="form3" class="form" style="display: none;">
      <p class="message">ከዚህ በፊት መተዋል እባኮትን አዲስ ትኬት ይግዙ!</p>
      <p class="input">Full Name: <span id="fullName"></span></p>
      <p class="input">Email: <span id="email"></span></p>
      <p class="input">Phone: <span id="phone"></span></p>
      <button class="button" type="submit" data-text="Awesome">
        <span class="actual-text">&nbsp;Scan New&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;Scan New&nbsp;</span>
      </button>
      </div>
    <!--Wrong QRcode or value or input or not found-->
    <div id="form4" class="form" style="display: none;">
      <p class="message">ያስገቡት መረጃ አልተገኘም እባኮን በድጋሚ ስካን ያድርጉ ወይም በለላ መረጃ ይሞክሩ!</p>
      <button class="button" type="submit" data-text="Awesome">
        <span class="actual-text">&nbsp;Scan New&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;Scan New&nbsp;</span>
      </button>
    </div>
    <script src="script.js"></script>
</body>
</html>
